<footer class="footer pb-5 has-background-header mt-4">
	<div class="container pb-6">
		<div class="mb-5 is-hidden-tablet">
			<div class="has-text-grey has-text-weight-semibold ">
				Little Giving
			</div>
			<div class="has-text-grey">
				Registered as a charity in England and Wales (1190004)
			</div>
		</div>
		<div class="columns is-mobile is-6 is-variable">
			<div class="column is-hidden-mobile">
				<div class="has-text-grey has-text-weight-semibold">
					Little Giving
				</div>
				<div class="has-text-grey">
					Registered as a charity in England and Wales (1190004)
				</div>
				<div class="has-text-grey">
					contact@littlegiving.org
				</div>
			</div>
			<div class="column has-text-grey-light is-narrow">
				<p class="pb-1 has-text-grey has-text-weight-semibold">Explore</p>
				<a class="has-text-grey" href="https://www.littlegiving.org">Home</a><br>
				<a class="has-text-grey" href="https://www.littlegiving.org/support">Support</a><br>
				<a class="has-text-grey" href="https://journal.littlegiving.org">Journal</a><br>
			</div>
			<div class="column has-text-grey-light is-narrow">
				<p class="pb-1 has-text-grey has-text-weight-semibold">App</p>
				<a class="has-text-grey" href="https://www.littlegiving.org/login">Login</a><br>
				<a class="has-text-grey" href="https://www.littlegiving.org/register">Register</a><br>
			</div>
			<div class="column has-text-grey-light is-narrow">
				<p class="pb-1 has-text-grey has-text-weight-semibold">Policies</p>
				<a class="has-text-grey" href="https://www.littlegiving.org/terms">Terms</a><br>
				<a class="has-text-grey" href="https://www.littlegiving.org/privacy">Privacy</a><br>
			</div>
		</div>
	</div>
</footer>
