<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<title>{{ if .Page.Title }}{{ .Page.Title }} -- {{ end }}Little Giving</title>
	<meta name="description" content="{{ if .Page.Title }}Little Giving{{ else }}A free service to help you give a few pence in sadaqah every single day{{ end }}">
	<meta property="og:title" content="{{ if .Page.Title }}{{ .Page.Title }} -- {{ end }}Little Giving" />
	<meta property="og:image" content="https://www.littlegiving.org/static/profile.png">
	<meta property="og:description" content="{{ if .Page.Title }}Little Giving{{ else }}A free service to help you give a few pence in sadaqah every single day{{ end }}">
	<link rel="shortcut icon" href="https://www.littlegiving.org/static/favicon.ico">
	<link rel="stylesheet" href="https://www.littlegiving.org/static/bulma.css">
	<link rel="stylesheet" href="https://www.littlegiving.org/static/custom.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" async></script>
	<script data-goatcounter="https://littlegiving.goatcounter.com/count" src="//gc.zgo.at/count.js" async></script>
</head>

