<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	{{ if not .Page.Title }}
		<title>Little Giving -- Journal</title>
		<meta property="og:title" content="Little Giving -- Journal" />
		<meta name="description" content="Updates on how your daily sadaqah is being distributed">
		<meta property="og:description" content="Updates on how your daily sadaqah is being distributed">
	{{ else }}
		<title>{{ .Page.Title }}</title>
		<meta property="og:title" content="{{ .Page.Title }}" />
		<meta name="description" content="Little Giving">
		<meta property="og:description" content="Little Giving">
	{{ end }}
	<meta property="og:image" content="https://www.littlegiving.org/static/profile.png">
	<link rel="shortcut icon" href="https://www.littlegiving.org/static/favicon.ico">
	<link rel="stylesheet" href="https://www.littlegiving.org/static/bulma.css">
	<link rel="stylesheet" href="https://www.littlegiving.org/static/custom.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" async></script>
	<script data-goatcounter="https://littlegiving.goatcounter.com/count" src="//gc.zgo.at/count.js" async></script>
</head>

